<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_room1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,53}}</string>
                <key>sourceSize</key>
                <string>{141,53}</string>
            </dict>
            <key>button_room2.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{141,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,53}}</string>
                <key>sourceSize</key>
                <string>{141,53}</string>
            </dict>
            <key>button_room3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{141,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,53}}</string>
                <key>sourceSize</key>
                <string>{141,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>button.png</string>
            <key>size</key>
            <string>{431,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7cbd1385919351b7b15d18423b76b31:b07a4cfb029743eef51a04e68e1d8b9a:1854a1d167269096d09aabff2abc0569$</string>
            <key>textureFileName</key>
            <string>button.png</string>
        </dict>
    </dict>
</plist>
