<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,216}}</string>
                <key>sourceSize</key>
                <string>{165,216}</string>
            </dict>
            <key>card_bean_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{165,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,216}}</string>
                <key>sourceSize</key>
                <string>{165,216}</string>
            </dict>
            <key>card_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{165,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,216}}</string>
                <key>sourceSize</key>
                <string>{165,216}</string>
            </dict>
            <key>card_exp_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,2},{165,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,216}}</string>
                <key>sourceSize</key>
                <string>{165,216}</string>
            </dict>
            <key>card_petExp.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{165,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,216}}</string>
                <key>sourceSize</key>
                <string>{165,216}</string>
            </dict>
            <key>card_petExp_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{165,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,216}}</string>
                <key>sourceSize</key>
                <string>{165,216}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1004,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f69c31f33bc6518a58f1a4b5399c909a:69a0f9c04960f94f5953dd47aad88f13:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
