<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialog_ChoosePrize.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1059},{730,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{730,447}}</string>
                <key>sourceSize</key>
                <string>{730,447}</string>
            </dict>
            <key>dialog_default.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{499,383}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{499,383}}</string>
                <key>sourceSize</key>
                <string>{499,385}</string>
            </dict>
            <key>dialog_jprank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{731,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{731,446}}</string>
                <key>sourceSize</key>
                <string>{731,446}</string>
            </dict>
            <key>dialog_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{730,607}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{730,607}}</string>
                <key>sourceSize</key>
                <string>{730,607}</string>
            </dict>
            <key>dialog_pet.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1306},{729,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{729,446}}</string>
                <key>sourceSize</key>
                <string>{729,446}</string>
            </dict>
            <key>dialog_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{730,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{730,446}}</string>
                <key>sourceSize</key>
                <string>{730,446}</string>
            </dict>
            <key>dialog_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,677},{627,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,547}}</string>
                <key>sourceSize</key>
                <string>{627,547}</string>
            </dict>
            <key>dialog_simple.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,387},{487,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,288}}</string>
                <key>sourceSize</key>
                <string>{487,288}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1956},{62,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{62,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{1283,2037}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eaa7dc24974d7049245b12071826443:a28a266d0f912c7127e5ffd7e3642e29:c11b6a542e58cbf6e51c9f5d8ff887d2$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
