<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>input_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,85}}</string>
                <key>sourceSize</key>
                <string>{450,85}</string>
            </dict>
            <key>input_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{337,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,64}}</string>
                <key>sourceSize</key>
                <string>{337,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>input.png</string>
            <key>size</key>
            <string>{793,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64fa45c25fac75d9188139ff74d622d0:a6e1bbd7f536f994f77f445dde0d57e1:6a01e16181a1fd16826e9db02fbc2741$</string>
            <key>textureFileName</key>
            <string>input.png</string>
        </dict>
    </dict>
</plist>
