<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<array>
		<string>dialog.png</string>
		<string>rooms.png</string>
		<string>pet.png</string>
		<string>input.png</string>
		<string>Slot.png</string>
		<string>button.png</string>
		<string>card.png</string>
	</array>
</dict>
</plist>
