<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>no0.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,85},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,85},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>no2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,116},{29,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,33}}</string>
                <key>sourceSize</key>
                <string>{29,33}</string>
            </dict>
            <key>pet0.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{144,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{144,128}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>pet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,148},{144,94}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{144,94}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>pet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{160,118}}</string>
                <key>sourceSize</key>
                <string>{160,128}</string>
            </dict>
            <key>pethead0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{88,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>pethead1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,164},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
            <key>pethead2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{78,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,81}}</string>
                <key>sourceSize</key>
                <string>{88,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet.png</string>
            <key>size</key>
            <string>{332,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b04ff3568e76e5b978e0f66846927ef0:6d1a6b593bf61b70ba7e603663362c5d:c587330c4a48b4a3249f3ebb5c0e8bd8$</string>
            <key>textureFileName</key>
            <string>pet.png</string>
        </dict>
    </dict>
</plist>
