<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>prize3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{74,61}}</string>
                <key>sourceSize</key>
                <string>{76,71}</string>
            </dict>
            <key>prize4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{81,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,76}}</string>
                <key>sourceSize</key>
                <string>{81,76}</string>
            </dict>
            <key>prop8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,101}}</string>
                <key>sourceSize</key>
                <string>{96,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>prize.png</string>
            <key>size</key>
            <string>{100,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e32fca58a8fc60c61e5665775a6f7c2d:234da1c2c50eea1eadca50f68af1a903:68dfc9e5d61f19e22c87e60147a13668$</string>
            <key>textureFileName</key>
            <string>prize.png</string>
        </dict>
    </dict>
</plist>
