<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>room1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,444}}</string>
                <key>sourceSize</key>
                <string>{304,444}</string>
            </dict>
            <key>room2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{304,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,444}}</string>
                <key>sourceSize</key>
                <string>{304,444}</string>
            </dict>
            <key>room2_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{304,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,444}}</string>
                <key>sourceSize</key>
                <string>{304,444}</string>
            </dict>
            <key>room3.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{304,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,444}}</string>
                <key>sourceSize</key>
                <string>{304,444}</string>
            </dict>
            <key>room3_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{304,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,444}}</string>
                <key>sourceSize</key>
                <string>{304,444}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rooms.png</string>
            <key>size</key>
            <string>{1532,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63e2eb75e7206329d572e35b3c676170:67f502c43271b0f82529fe571fa12fbe:732b3db5c6634d99425d0e7b5c296217$</string>
            <key>textureFileName</key>
            <string>rooms.png</string>
        </dict>
    </dict>
</plist>
