<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{37,37}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{37,37}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>free1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>free2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,28},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>free3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,28},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>head_small0.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>state_read_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Slot.png</string>
            <key>size</key>
            <string>{227,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:717c4e1a3a1d60231d23b45854b8de24:5c22e615e38f88ba60c9ff3ec6418b49:8566c4fbea02e432c156da5bf3d11749$</string>
            <key>textureFileName</key>
            <string>Slot.png</string>
        </dict>
    </dict>
</plist>
